@model IEnumerable<PurrfectPartners.Areas.Identity.Data.Appointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Appointments</h1>

<p>
    <a class="text-success" asp-action="Create">Book new appointment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Reservation Date
            </th>
            <th>
                Status
            </th>
            <th>
                Booking Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.ReservationDate.ToString("MM-dd-yyyy HH:mm")
            </td>
            <td>
                @item.Status.ToString()
            </td>
            <td>
                @item.BookingDate.ToString("MM-dd-yyyy HH:mm")
            </td>
            <td>
                <a asp-action="Appointment" asp-route-id="@item.Id">Details</a>
                @if (item.Status == PurrfectPartners.Areas.Identity.Data.AppointmentStatus.Pending)
                {
                    <span>|</span>
                    <a asp-action="CancelAppointment" class="text-danger" asp-route-id="@item.Id" asp-route-returnAction="Index">Cancel Appointmet</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.Count() == 0)
{
    <h6 class="text-danger">You have not booked any appointments yet!</h6>
}
