@model PurrfectPartners.Models.StaffAppointmentDetailsModel
@using PurrfectPartners.Areas.Identity.Data

@{
    ViewData["Title"] = "Appointment";
    Layout = "~/Views/Staff/_Layout.cshtml";
}

<h1>Appointment Details</h1>
<div class="mt-2 mb-4">
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    <a asp-action="Appointments" asp-controller="Staff">Back to List</a>
</div>
<div>
    <h4>Appointment for @Model.UserName</h4>
    <div class="d-inline-flex">
        @if (Model.Status == AppointmentStatus.Pending)
        {
            <a asp-controller="Staff" asp-action="ChangeAppointmentStatus" asp-route-id="@Model.Id" asp-route-status="1" asp-route-returnAction="Appointment" class="mx-1 btn  btn-sm btn-success">
                Approve
            </a>
            <a asp-controller="Staff" asp-action="ChangeAppointmentStatus" asp-route-id="@Model.Id" asp-route-status="3" asp-route-returnAction="Appointment" class="mx-1 btn btn-sm btn-danger">
                Reject
            </a>
        }
        @if (Model.Status == AppointmentStatus.Approved)
        {
            <a asp-controller="Staff" asp-action="ChangeAppointmentStatus" asp-route-id="@Model.Id" asp-route-status="2" asp-route-returnAction="Appointment" class="mx-1 btn  btn-sm btn-success">
                Mark as Complete
            </a>
        }

    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ID
        </dt>
        <dd class = "col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Model.Status.ToString()
        </dd>
        <dt class = "col-sm-2">
            Reservation Date
        </dt>
        <dd class = "col-sm-10">
            @Model.ReservationDate.ToString("MM-dd-yyyy HH:MM")
        </dd>
        <dt class="col-sm-2">
            Booking Date
        </dt>
        <dd class="col-sm-10">
            @Model.BookingDate.ToString("MM-dd-yyyy HH:MM")
        </dd>
        <dt class="col-sm-2">
            Animal
        </dt>
        <dd class="col-sm-10">
            @Model.AnimalName
        </dd>
        @if (Model.Breed != null)
        {
            <dt class="col-sm-2">
                Breed
            </dt>
            <dd class="col-sm-10">
                @Model.Breed
            </dd>
        }
        <dt class="col-sm-2">
            Service Name
        </dt>
        <dd class="col-sm-10">
            @Model.ServiceName
        </dd>
        <dt class="col-sm-2">
            Service Starting Price
        </dt>
        <dd class="col-sm-10">
            @Model.ServicePrice RM
        </dd>
        <dt>
        </dt>
        <dd>
            <hr />
        </dd>
        <dt class="col-sm-2">
            Customer ID
        </dt>
        <dd class="col-sm-10">
            @Model.UserId
        </dd>
        <dt class="col-sm-2">
            Customer Name
        </dt>
        <dd class="col-sm-10">
            @Model.UserName
        </dd>
        @if (Model.UserEmail != null)
        {
            <dt class="col-sm-2">
                Customer Email
            </dt>
            <dd class="col-sm-10">
                @Model.UserEmail
            </dd>
        }
        @if (Model.UserPhone != null)
        {
            <dt class="col-sm-2">
                Customer Phone Number
            </dt>
            <dd class="col-sm-10">
                @Model.UserPhone
            </dd>
        }
        @if (Model.UserAddress != null)
        {
            <dt class="col-sm-2">
                Customer Address
            </dt>
            <dd class="col-sm-10">
                @Model.UserAddress
            </dd>
        }
        <dt>
        </dt>
        <dd>
            <hr />
        </dd>
        @if (Model.AnimalImage != null)
        {
            <dt class="col-sm-2">
                Attached Picture
            </dt>
            <dd class="col-sm-10">
                <img class="appointmentpicture" src="@("https://" + PurrfectPartners.Data.StandardValues.S3BucketName + ".s3.amazonaws.com/" + Model.AnimalImage)" alt="Picture of Animal" />
            </dd>
        }
        @*"https://" + s3bucketname + ".s3.amazonaws.com/images/"*@
    </dl>
</div>
